@import url('https://fonts.googleapis.com/css2?family=Federo&family=Madimi+One&display=swap');
@import 'variable';

*{
    font-family: "Federo", sans-serif;
    margin: 0;
    padding: 0;
}

@mixin flex-display{
    display: flex;
    justify-content: center;
    align-items: center;
}

    //  header area

.header-outer{
    position: sticky;
    top: 0;
}

.bg-body-tertiary{
    height: 30% !important;
    background-color: $header-color !important;
    font-weight: 700;
    font-size: 20px;
    // border: 1px solid black;
}

.bg-body-tertiary a{
    color: $white-color !important;
    padding-left: 30px !important;

    &:hover{
        cursor: pointer;
        color: $aqu-color !important;
    }
}

.navbar-toggler{
    background-color: $white-color !important;
}

    //  header area

    //  home area

.home-outer{
    width: 100%;
    height: 100%;
    // border: 1px solid blue;
    background-color: #3B383F;
    // @include flex-display;
}

.row{
    height: 100%;
}

.row-home{
    @include flex-display;
}

.home-inner{
    // border: 1px solid red;
    // height: 100%;
    @include flex-display;
    padding-bottom: 5%;
}

.inner-1{
    background-size: cover;
}

.inner-2{
    @include flex-display;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    // border: 1px solid green;
}

.right-middle h2{
    font-size: 50px;
    color: $aqu-color;
    font-weight: 600;
}

.right-middle h1{
    font-size: 70px;
    font-weight: 600;
    span{
        color: $white-color;
    }
}

.right-top{
    width: 25%;
    height: 7px;
    background-color: $hover-color;
}

.right-middle{
    margin-top: 5%;
}



.right-bottom{
    margin-top: 5%;
    width: 30%;
    height: 8%;
    background-color: $hover-color;
    border-radius: 10px;
    padding: 2.5% 2% 1.5% 2%;
    font-weight: 700;

    a{
        text-decoration: none;
        color: $white-color;
        text-align: center;
    }

    &:hover{
        background-color: $black-color;
        
        h4{
            color: $aqu-color !important;
        }
    }
}





// @media screen and (max-width: 768px) {
//     .man img {
//         width: 100%; /* Adjust as needed */
//         margin-right: 0;
//     }

//     .right-middle h1 {
//         font-size: 50px; /* Adjust as needed */
        
//         text-align: center; /* Center align for smaller screens */
//     }
// }



    //  home area