@import url('https://fonts.googleapis.com/css2?family=Federo&family=Madimi+One&display=swap');
@import 'variable';

*{
    font-family: "Federo", sans-serif;
    margin: 0;
    padding: 0;
}

@mixin flex-display{
    display: flex;
    justify-content: center;
    align-items: center;
}

    //  header area

.header-outer{
    position: sticky;
    top: 0;
}

.bg-body-tertiary{
    height: 30% !important;
    background-color: $header-color !important;
    font-weight: 700;
    font-size: 20px;
    // border: 1px solid black;
}

.bg-body-tertiary a{
    color: $white-color !important;
    padding-left: 30px !important;

    &:hover{
        cursor: pointer;
        color: $aqu-color !important;
    }
}

.navbar-toggler{
    background-color: $white-color !important;
}

    //  header area

    //  home area

.home-outer{
    width: 100%;
    height: 100%;
    // border: 1px solid blue;
    background-color: #3B383F;
    // @include flex-display;
}

.row{
    height: 100%;
}

.row-home{
    @include flex-display;
}

.home-inner{
    // border: 1px solid red;
    // height: 100%;
    @include flex-display;
    padding-bottom: 5%;
    overflow: hidden;
}

.inner-1{
    background-size: cover;
    animation-name: man;
    animation-duration: 2s;
}

@keyframes man{
    0%{
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(0px);
    }
}

.inner-1 img{
    margin-right: 15%;
    margin-top: 8%;
}

.inner-2{
    @include flex-display;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    // border: 1px solid green;
    animation-name: text;
    animation-duration: 2s;
}
@keyframes text{
    0%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(0px);
    }
}

.right-middle h2{
    font-size: 50px;
    color: $aqu-color;
    font-weight: 600;
}

.right-middle h1{
    font-size: 70px;
    font-weight: 600;
    span{
        color: $white-color;
    }
}
.right-middle p{
    margin-top: 5%;
    color: white;
    text-align: left;
    font-size: 20px;
    line-height: 180%;
    white-space: 2%;

    a{
        color: white;
    }
}

.right-top{
    width: 25%;
    height: 7px;
    background-color: $hover-color;
}

.right-middle{
    margin-top: 5%;
}



.right-bottom{
    margin-top: 10%;
    width: 40%;
    height: 8%;
    background-color: $hover-color;
    border-radius: 10px;
    padding: 2.5% 2% 1.5% 2%;
    a{
        text-decoration: none;
        color: $white-color;
        text-align: center;
    }

    &:hover{
        background-color: $black-color;
        
        h4{
            color: $aqu-color !important;
        }
        
        &:hover{
            scale: 1.1;
        }
    }
}





// @media screen and (max-width: 768px) {
//     .man img {
//         width: 100%; /* Adjust as needed */
//         margin-right: 0;
//     }

//     .right-middle h1 {
//         font-size: 50px; /* Adjust as needed */
        
//         text-align: center; /* Center align for smaller screens */
//     }
// }



    //  home area

    // experience area

.experience-outer{
    width: 100%;
    height: 100%;
    background-color: #59555E;

    .experience-container{
        align-items: center;
        justify-content: center;
        display: flex;
    
        .experience-inner{
            width: 70%;
            height: 100%;
            // border: 1px solid red;
        
            h1{
                font-weight: 700;
                font-size: 80px;
                color: white;
                text-align: center;
                margin-bottom: 3%;
                animation-name: man;
                animation-duration: 2s;
            }
        
            p{
                font-weight: 700;
                font-size: 20px;
                color: white;
                text-align: center;
                font-style: italic;
                word-spacing: 3px;
                letter-spacing: 1px;
                line-height: 20px;
            }
        
            .inner-hr{
                border: none;
                height: 3px; 
                background-color: #ffffff;
                margin: 20px 0;
                color: #ffffff;
                margin-top: 7%;
                animation-name: text;
                animation-duration: 2s;
            }

            .inner1{
                align-items: center;
                justify-content: center;
                display: flex;

                .box1{
                    // border: 1px solid blue;
                    height: 100%;
                    width: 40%;
                    margin-top: 0;
                    
                    h5{
                        color: white;
                        font-weight: 500;
                    }
                }

                .box2{
                    // border: 1px solid blue;
                    height: 100%;
                    width: 60%;
                    animation-name: text;
                    animation-duration: 2s;

                    h4{
                        color: #F7914D;
                        font-weight: 700;
                    }

                    h5{
                        margin-top: 5%;
                        color: white;
                        font-weight: 500;
                        line-height: 125%;
                    }
                }
            }
        }
    }
}






